/*FUENTES*/

@font-face{
    font-family: Signika-Regular;
    src: url(./fonts/Signika-Regular.ttf);
}


body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Signika-Regular, sans-serif;
}

.clearfix{
    clear: both;
}



#logo img{
    width: 70px;
    float: left;
    padding-top: 15px;
    margin-left: 5%;
}

header{
    width: 100%;
    height: 90px;
    background-color: white;
    border-top: 4px solid #98ff1b;
    box-shadow: 0px 0px 2px black;
    box-shadow: 0px 0px 10px grey;
    position: fixed;
    z-index: 1000;
}

.wrap{
    width: 100% !important;
    margin: 0px auto;
}



#spacing{
    width: 100%;
    height: 90px !important;
}




/*CONTENT*/


#section a{
    text-decoration: 0;
    -webkit-tap-highlight-color: transparent !important;
}


#section h1{
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 2px 5px grey;
    color: #333e;
    background-color: #98ff1b;
    cursor: pointer;
    width: 77%;
    margin-left: 11.5%;
    border-radius: 10px;
    padding: 10px 0px;
    transition: all .5s;
    margin-bottom: 10px;
    font-size: 2.5vw;
    margin-top: 15px;
}

#section h1:hover{
    text-shadow: 0px 2px 5px #222222;
    background-color: #a5f83f;
    
}  


#section a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

#slider-container{
    width: 100%;
    text-align: center;
    
}

#slider{
    width: 77%;
    overflow: hidden;
    margin: 0px auto;
    background-image: url("./img/JPEG/muestra1-compressor.jpg") !important;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5), 0 12px 30px 0 rgba(0, 0, 0, 0.2);
    height: 33vw;
    
}

#slider figure{
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    animation: slider 10s infinite;
    
}

#slider figure img{
    width: 33.3%;
    float: left;
}


@keyframes slider{
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    50%{
        left: -100%;
    }

    70%{
        left: -100%;
    }

    100%{
        left: -200%;
    }
}

#slider img{
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#about{
    margin-top: 10px;
}

#about > h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #222222;
    font-size: 4.2vw;
}

#about > p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #5a5a5a;
    font-size: 1.5vw;
}

#about img{
    width: 20%;
    margin: 20px;
    margin-left: 14%;
    margin-top: 110px;
    float: left;
}


#description{
    float: right;
    width: 40%;
    margin-right: 15%;
    text-align: justify;
    
}

#description > p{
    font-size: 1.3vw;
    color: #5a5a5a;
    
}

#description p a{
    text-decoration: none;
    color: #5a5a5a !important;
    text-decoration: underline !important;
}

#description h2{
    font-size: 24px;
    color: #222222;

}

/*ARTICLES*/

#article{
    display: inline-flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 40px;
    width: 100%;
    
    
    
}

.articles{
    width: 30%;
    float: left;
    border: 2px solid #333;
    text-align: center;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 300ms;
}

.articles h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles:hover{
    cursor: pointer;
    box-shadow: 0 8px 8px 0 #78d802, 0 6px 12px 0 #78d802;
    border: 2px solid #78d802;
    
}

.articles a{
    text-decoration: none;
    color: #222222;
    -webkit-tap-highlight-color: transparent !important;
    
}



#services-title{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 0px;
    color: #222222;
    font-size: 4.2vw;
}

#service-about{
    text-align: center;
    color: #5a5a5a;
    font-size: 1.5vw;
}

.service-image{
    max-width: 100%;
    max-height: 100%;
    display: block;
}


/*CLIENTS SECTION*/

#clients{
    width: 100%;
    text-align: center;
}
#clients-logo{
    float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
    
    
}

#clients-logo img{
    width: 10%;
    text-align: center;
}

#clients h2{
    text-align: center;
    margin-top: 120px;
    color: #222222;
    font-size: 4.2vw;
    margin-bottom: 5px;
}

#clients > p{
    margin-bottom: 55px;
    color: #5a5a5a;
    font-size: 1.5vw;
}

/*FOOTER*/

#btnsubmit{
    -webkit-appearance: none;
}

#form-iframe{
    display: none;
}



#footer{
    padding-top: 10px;
    margin-top: 170px;
    background-color: #333333;
    border-top: 5px solid gray;
}

#footer p{
    text-align: center;
    margin: 70px 0px 0px 0px;
    padding-bottom: 20px;
    color: white;
    font-size: 18px;
}

#footer-title{
    text-align: center;
    margin-top: 50px;
    color: whitesmoke;
    font-size: 45px;
    margin-bottom: 60px;
}

.p-inputs{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    

}

.inputs{
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
    border-radius: 8px;
    transition: all 400ms;
    
}

.inputs:focus{
    border: 2px solid #98ff1b;
}



#input-text-area{
    margin-top: -70px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    height: 100px;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
    border-radius: 8px;
    height: 230px;
    resize: none !important;
    overflow: auto;
}

#input-text-area:focus{
    border: 2px solid #98ff1b;
}

.contact-info{
    display: flex;
    width: 100%;
    justify-items: center;
    
}

.info-details{
    margin-left: 10%;
    margin-right: 5%;
    width: 30%;
    font-size: 24px;
}

form{
    width: 70%;
}

.info-details p{
    margin: 0px !important;
    padding: 0px !important;
    text-align: left !important;
    font-size: 18px;
    
    
}

.info-details p a{
    text-decoration: none !important;
    color: white !important;
}

.info-details h3{
    margin-bottom: 0px;
    margin-top: 0px;
    color: #78d802;
    font-size: 24px;
}

#all-rights-reserved{
    border-top: 1px solid gray;
    padding-top: 16px;
}

textarea,
input[type=text], input[type=submit] {
    font-family: Signika-Regular,sans-serif;
}

input[type=submit]{
    width: 190px;
    margin-left: 10%;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    background-color: #78d802;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
    float: left;
}

input[type=submit]:hover{
    background-color: #98ff1b;
    color: #333;
}

input[type=submit]:active{
    background-color: #78d802;
    color: white;
}


/*LOGO RESIZING*/

#quiborax-logo{
    width: 120px !important;
    padding-right: 10px;
    padding-left: 10px;
}

#ejercitochile-logo{
    width: 85px !important;
    padding-right: 17px;
    padding-top: 10px;
}

#rilachile-logo{
    width: 130px !important;
    padding-right: 10px;
    padding-left: 10px;
}

#syngenta-logo{
    width: 130px !important;
    padding-right: 10px;
    padding-left: 10px;
}

#municipalidadarica-logo{
    padding-top: 10px;
    width: 150px !important;
}

#gendarmeria-logo{
    padding-top: 10px;
    width: 85px !important;
    
}

#clinica-logo{
    width: 150px !important;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#corpesca-logo{
    width: 100px !important;
    padding-bottom: 14px;
    padding-right: 10px;
    padding-left: 10px;
}

#corteva-logo{
    width: 100px !important;
    padding-right: 10px;
    padding-left: 10px;
    
}

/*NAVIGATION BAR FOR REAL GG*/

nav{
    height: 90px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 70px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a{
    display: inline-block;
    color: #333;
    font-weight: 500;
    text-decoration: none;
    margin-top: 0px;
    font-size: 18px;
    margin-left: 30px;
}

a.active, a:hover{
    background-color: transparent;
    transition: .5s;
    color: #98ff1b;
}




.checkbtn{
    font-size: 37px;
    color: #98ff1b;
    float: right;
    line-height: 87px;
    margin-right: 30px;
    cursor: pointer;
    background-color: transparent;
    display: none;
}

.checkbtn:active{
    background-color: transparent;
}

#check{
    display: none;
}

#check:active{
    background-color: transparent !important;
}

/*MEDIA QUERIES*/

@media (min-width: 1400px){
    nav ul li a {
        margin-right: 37px !important;
        font-size: 20px !important;
        margin-top: 0px !important;
    }
}

@media (min-width: 787px){
    nav ul li a {
        margin-right: 0px !important;
        font-size: 16px;
    }


}



@media (max-width: 1080px){
    .articles{
        width: 30%;
    }
}


@media (max-width: 1024px){

    #about > h2{
        font-size: 6.2vw;
    }

    #about > p{
        font-size: 2.5vw;
    }

    #services-title {
        font-size: 6.2vw;
    }

    #service-about{
        font-size: 2.5vw;
    }

    #clients h2{
        font-size: 6.2vw;
    }

    #clients > p {
        font-size: 2.5vw;
        width: 62%;
        margin: 0px auto;
        margin-bottom: 55px;
    }
    
    #about img {
        width: 60%;
        margin-left: 20%;
        margin-top: 50px;
        float: left;
    }

    #description > p {
        font-size: 18px;
        
    }

    #description h2 {
        font-size: 35px;
        text-align: center;
    }

    #description > p {
        font-size: 24px;
    }

    #description {
        float: left;
        width: 85%;
        margin-left: 8%;
        text-align: justify;
    }
}


@media (max-width:786px){

    #section h1 {
        width: 96%;
        margin-left: 2%;
    }


    #slider{
        width: 100%;
        height: auto;
    }

    #description h2 {
        font-size: 35px;
        text-align: center;
    }

    #description > p {
        font-size: 24px;
    }

    #description {
        float: left;
        width: 85%;
        margin-left: 8%;
        text-align: justify;
    }


    .articles {
        width: 65%;
    }

    .contact-info {
        flex-flow: column;
    }

    form{
        width: 100%;

    }

    input[type=submit]{
        margin-left: 5%;
    }

    .info-details {
        margin-left: 5%;
        margin-top: 60px;
        width: 95%;
    }


    #input-text-area{
        width: 90%;
        margin-left: 0%;
    }

    .inputs{
        width: 90%;
        margin-left: 0%;
    }

    .checkbtn{
        display: block;
        border: 1px solid white;
        background-color: white !important;
        -webkit-tap-highlight-color: transparent;
        height: 70px !important;

    }

    .checkbtn:focus{
        outline: 0;
        box-shadow: none!important;
        background-color: white !important;
    }

    .checkbtn:hover{
        background-color: white !important;
    }

    .checkbtn:active{
        border: 1px solid white !important;
        background-color: white !important;
    }

    
    
    
    
    #lateral-menu{
        position: fixed;
        padding-left: 0;
        width: 100%;
        height: 346px;
        background-color: transparent;
        top:78px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
        color: white;
        width: 100%;
        margin-left: 0px;
        -webkit-tap-highlight-color: transparent;
    }

    a:hover, a.active{
        background: none;
        color: #98ff1b;
    }

    #check:checked{
        background-color: white !important;
    }

    
    
}



@media only screen and (max-width: 785px) and (min-width: 450px){

    #about > h2 {
        font-size: 10.2vw;
    }

    #about > p {
        font-size: 3.7vw;
    }

    #services-title {
        font-size: 10.2vw; 
    }

    #service-about {
        font-size: 3.7vw;
    }

    

    #clients h2 {
        font-size: 10.2vw;
    }

    #clients > p {
        font-size: 3.7vw;
        width: 90%;
    }

}

@media only screen and (max-width: 449px) and (min-width: 320px){

    #about > h2 {
        font-size: 15.2vw;
    }

    #about > p {
        font-size: 4vw;
    }

    #services-title {
        font-size: 15.2vw; 
    }

    #service-about {
        font-size: 4vw;
    }

    

    #clients h2 {
        font-size: 15.2vw;
    }

    #clients > p {
        font-size: 4vw;
        width: 94%;
        margin: 0px auto;
        margin-bottom: 55px;
    }

}


@media only screen and (max-width: 785px) and (min-width: 320px){
    #section h1 {
        font-size: 6.6vw;
    }

}




@media (max-width: 600px){
    #articles h3{
        font-size: 4.7vw;
    }
    
    #about img {
        width: 80%;
        margin-left: 10%;
        
    }

    #description h2 {
        font-size: 28px;
        text-align: center;
    }

    #description > p {
        font-size: 20px;
    }
}

@media (max-width:460px){
    #all-rights-reserved{
        font-size: 3.5vw !important;
    }
}

@media (max-height: 439px){
    ul {
        height: 300px;
    }

    nav ul li {
        line-height: 12vh;
    }

}

 




